.order-container{
    width: 310px;
}

.detail{
    width: 100%;
}

.detail img{
    max-height: 50px;
    max-width: 200px;
    margin-right: 10px;
}

.pending{
    background-color: #f1f1f1;
}

.inprogress{
    background-color: rgb(255, 223, 193);
}

.completed{
    background-color: rgb(198, 255, 193);
}